In [1]:
#imports

import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.decomposition import NMF
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import pairwise_distances

# This notebook will be used for testing different NLP methods, and hyperperameter tuning

In [2]:
df = pd.read_csv('data/finaldf.csv')

In [10]:
#dropping nulls
df = df.dropna()
df.head()

,title,genre,appid,reviews
0,Counter-Strike: Global Offensive,Action,730,Your team in every random competitive game:\n\...
1,Counter-Strike: Global Offensive,Action,730,Pay $15 to unlock level
2,Counter-Strike: Global Offensive,Action,730,counter-fart: globally offensive scent
3,Counter-Strike: Global Offensive,Action,730,This game saved my life.\n\nI am 27.\n\nMy ex-...
4,Counter-Strike: Global Offensive,Action,730,Absolutely garbage servers and net-code for pu...

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7341 entries, 0 to 7351
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    7341 non-null   object
 1   genre    7341 non-null   object
 2   appid    7341 non-null   int64
 3   reviews  7341 non-null   object
dtypes: int64(1), object(3)
memory usage: 286.8+ KB

In [12]:
#creating reviews list

reviews_list = []
for items in list(df.reviews):
    reviews_list.append(items)

In [13]:
len(reviews_list)

7341

In [7]:
reviews_list[0]

'Your team in every random competitive game:\n\n- You\n- Russian Guy\n- Another Russian Guy\n- A 6 year old kid who slept with your mother\n- Russian Guy who speaks English\n\n10/10'

In [14]:
# initializing all vectorizers and models

cv = CountVectorizer(stop_words='english', token_pattern='[a-zA-Z]+', min_df = 3)
tfv = TfidfVectorizer(stop_words='english', token_pattern='[a-zA-Z]+', min_df = 3)

lsa_model = TruncatedSVD(5)
nmf_model = NMF(5)

cv_doc_word = cv.fit_transform(reviews_list)
tfv_doc_word = tfv.fit_transform(reviews_list)